<div class="entries-container">
  <div class="entry-date"><%= @date.to_s :long %></div>
  <% @entries.each do |entry| %>
    <div class="entry">
      <div class="entry-editor" data-url="<%= entry_path(entry) %>"><%= entry.text %></div>
    </div>  
  <% end %>
</div>