<div class="entries-container">
  <div class="entry-date"><%= @date.to_s :long %></div>
  <div class="entry">
    <div class="entry-editor" id="entry_one"><%= @entries.first.text %></div>
  </div>
  <div class="entry">
    <div class="entry-editor" id="entry_two"><%= @entries.second.text %></div>
  </div>
</div>