development:
  adapter: postgresql
  encoding: unicode
  database: duo_development
  pool: 5
  username: robby
  username: password

test: &test
  adapter: postgresql
  encoding: unicode
  database: duo_test
  pool: 5
  username:
  password: