@import 'variables';
@import 'reset';
@import 'entries';
@import 'auth';

.header {
  padding: 40px;
  .logo {
    display: inline-block;
    img{
      width: 50px;  
    }   
  }

  .user-details {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 20px;
    height: 100%;
    line-height: 35px;
    .logout {
      margin-left: 10px;
      color: #878787;
    }
  }

  @media screen and (max-width: $break-small) {
    padding: 15px;
    .logo {
      img{
        width: 40px;  
      }   
    }

    .user-details {
      font-size: 15px;
    }    
  }
}

.turbolinks-progress-bar {
  height: 2px;
  background-color: #878787;
}
.signin, .signout {
  margin-top: 100px;
  margin-right: 50px;
  color: #878787;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
.auth-div {
  float: right;  
  margin-top: 50px;
  margin-left: 20px;
}