@import 'variables';
@import 'reset';
@import 'entries';
@import 'auth';
@import 'medium-editor-insert-plugin';
@import 'medium-editor-insert-plugin-frontend';

.header {
  padding: 40px;
  .logo {
    display: inline-block;
    img{
      width: 50px;  
    }   
  }

  .user-details {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 20px;
    height: 100%;
    line-height: 35px;
    .logout {
      margin-left: 10px;
      color: #878787;
    }
  }


  @media screen and (max-width: $break-small) {
    padding: 15px;
    .logo {
      img{
        width: 40px;  
      }   
    }

    .user-details {
      font-size: 15px;
    }    
  }
}

.medium-editor-element {
  margin-top: 20px;
}


.turbolinks-progress-bar {
  height: 2px;
  background-color: #878787;
}