.header {
  font-size: 26px;
  font-style: italic;

  .entry-date {
    display: inline-block;
    line-height: 35px;
    vertical-align: bottom;
    margin-left: 12px;
    a {
      cursor: pointer;
      height: 35px;
      line-height: 40px;
    }

    input {
      position: absolute;
      opacity: 0;
      top: 55px;
    }
  }
  @media screen and (max-width: $break-small) {
    font-size: 20px;

    .entry-date {
      margin-left: 10px;
      a {
        line-height: 35px;
      }
    }
  }
}

.entries-container {

  .entry-authors {
    width: 48%;
    display: inline-block;

    .author-name {
      position: relative;
      top: 10px;
      left: 55px;
      text-align: left;
      font-size: 18px;
      font-style: italic;
      color: #b3b3b3;
      z-index: 9999;
      width: 200px;
    }

    @media screen and (max-width: $break-small) {
      width: 100px;

      .author-name {
        left: 30px;
        width: 100%;
        text-align: center;
        height: 35px;
        line-height: 35px;
        cursor: pointer;
        border-radius: 100px;
      }

      &.active .author-name {
        background: #ebebeb;
        color: #464646;
      }
    } 

  }
  
  .entries {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80vh;

    .entry {
      height: 100%;
      width: 100%;
      flex-grow: 1;
      overflow-y: scroll;
      margin-top: 30px;
      
      .entry-editor {
        width: 90%;
        height: 100%;
        font-size: 21px;
        padding: 40px;
        padding-top: 15px;
        line-height: 1.58;

        a {
          color: black;
        }

        blockquote {
          // copied from Medium.com
          --x-height-multiplier: 0.35;
          --baseline-multiplier: 0.179;
          letter-spacing: .01rem;
          font-weight: 400;
          font-style: italic;
          font-size: 21px;
          line-height: 1.58;
          letter-spacing: -.003em;
          border-left: 3px solid rgb(135, 135, 135);
          color: rgb(135, 135, 135);
          padding-left: 20px;
          margin-left: 20px;
          padding-bottom: 2px;

          a {
            color: rgb(135, 135, 135);
          }
        }
      }

      @media screen and (max-width: $break-small) {
        width: 100%;
        
        &:not(.active) {
          display: none;
        }

        .entry-editor {
          padding: 15px;
        }
      } 
    }
  }
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

// Medium Editor Theme Overrides

.medium-editor-toolbar li button {
  color: rgb(160, 160, 160) !important;
  line-height: 0 !important;
}

.medium-editor-toolbar li .medium-editor-button-active, .medium-editor-toolbar li button:hover {
  color: white !important;
}

.medium-editor-anchor-preview a {
  margin: 5px 5px 5px !important;
}