// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  font-size: 26px;
  font-style: italic;

  .entry-date {
    display: inline-block;
    line-height: 35px;
    vertical-align: bottom;
    margin-left: 12px;
    a {
      cursor: pointer;
      height: 35px;
      line-height: 40px;
    }

    input {
      position: absolute;
      opacity: 0;
      top: 55px;
    }
  }
}

.entries-container {
  width: 100%;
  height: 80vh;
  text-align: center;
  
  .entry {
    width: 48%;
    height: 100%;
    display: inline-block;

    .author-name {
      position: relative;
      top: 10px;
      left: 55px;
      text-align: left;
      font-size: 18px;
      font-style: italic;
      color: #b3b3b3;
      z-index: 9999;
      width: 200px;
    }

    .entry-editor {
      width: 100%;
      height: 100%;
      font-size: 21px;
      line-height: 1.6!important;
      padding: 40px;
      padding-top: 15px;

      &#entry_one {
        background-color: white;
        color: black;
      }

      &#entry_two {
        background-color: black;
        color: white;
      }
    }
  }
}