// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.entries-container {
  width: 100%;
  height: 80vh;
  text-align: center;

  .entry-date {
    font-size: 26px;
    padding: 60px;
    padding-bottom: 25px;
    font-style: italic;
  }
  
  .entry {
    width: 48%;
    height: 100%;
    display: inline-block;

    .entry-editor {
      width: 100%;
      height: 100%;
      font-size: 21px;
      padding: 40px;

      &#entry_one {
        background-color: white;
        color: black;
      }

      &#entry_two {
        background-color: black;
        color: white;
      }
    }
  }
}