<!DOCTYPE html>
<html>
  <head>
    <title>Duo</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//cdn.quilljs.com/1.1.10/quill.min.js"></script>
    <link href="//cdn.quilljs.com/1.1.10/quill.bubble.css" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
